# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.pyc
/__pycache__/
/temp/
/assets/temp/
/output/
/bin/
/obj/
/venv/
/build.py
/build_config.json
*.log
assets/sfx/takeout-20200116T200526Z-001.zip
*.pyc
